<mat-dialog-content class="mat-typography">
  <form>
    <div class="row">
      <div class="col-md-4">
        <label>Quantity</label>
      </div>
      <div class="col-md-8">
        <input class="input-design" type="number" name="qty" [ngModel]="data.quantity"
          (input)="onChange($event.target.value)">
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="update">Update</button>
  <button mat-button [mat-dialog-close]="assign" cdkFocusInitial>Assign</button>
</mat-dialog-actions>